.whitepaper h1 {
    text-align: center;
}

.whitepaper p {
    text-align: center;
    margin-bottom: 25px;
}

.whitepaper button {
    display: flex;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgb(109, 204, 162, 1);
}

.whitepaperBtn a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.whitepaperBtn a:hover {
    color: #ffde59;
}