.whitepaper {
  border: solid #ffde59 2px;
  border-radius: 10px;
  padding: 25px 50px;
  margin: 25px 0px;
}

.whitepaper h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 800;
  color: rgb(109, 204, 162, 1);
}

.whitepaper h3 {
  text-align: center;
  margin-bottom: 5px;
}

.whitepaper p {
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.5rem;
}

.whitepaper button {
  display: flex;
  width: auto;
  margin: auto;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  background-color: rgb(109, 204, 162, 1);
}

.whitepaperBtn a {
  color: white;
  text-decoration: none;
}

.whitepaperBtn:hover {
  background-color: rgb(68, 201, 143);
}

.whitepaperBtn:hover a {
  color: #ffde59;
}
