/* ===== START OF GLOBAL CSS ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    width: 100%;
}
  
a {
    cursor: pointer;
}
/* ===== END OF GLOBAL CSS ===== */
  
  
  
/* ===== START OF NAVBAR ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 5;
    background-color: rgb(109, 204, 162, 1);
}
  
.navlogo {
    padding-left: 25px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
    align-items: center;
}

.navlist ul {
    display: flex;
    list-style-type: none;
    padding: 0 25px;
}

.navlink {
    font-size: 18px;
    font-weight: 650;
    color: black;
    text-decoration: none;
    padding-right: 10px;
}
 
.navlink:hover {
    color: #ffde59;
    text-decoration: underline;
}

/* ----- START OF MOBILE HAMBURGER MENU (within navbar) ----- */
/* --- styles hamburger menu (but not shown until -600px screen) --- */
.hamburger-icon, .close-icon {
    position: absolute;
    top: 1.25rem;
    right: 25px;
    display: none;
    color: black;
}
  
.hamburger-icon:hover, .close-icon:hover {
    color: #ffde59;
}

/* --- shows hamburger and hide regular nav (-600px screen) --- */
@media screen and (max-width: 600px) {
    .hamburger-icon, .close-icon {
        display: flex;
    }

    .navlist {
        display: none;
        width: 100%;
    }

/* --- makes nav links show as column when hamburger menu is activated --- */
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }    

    .navlist ul {
        flex-direction: column; 
        text-align: center;
        width: 100%;
        padding: 0;
        
    }

    .navlist li {
        padding: 10px 0;
        border-top: black solid 2px;
    }

    .navlist ul li:hover {
       background-color: rgb(68, 201, 143);
    }

    .navlist.active {
        display: flex;
        background-color: rgb(147, 199, 176, .5);
        border-bottom: black solid 2px;
    }
}
/* --- END OF MOBILE HAMBURGER MENU (within navbar) --- */
/* ===== END OF NAVBAR ===== */

/* --- changes background image to smaller version --- */
/*    divStyle.backgroundImage = `url(${BGimageMobile})`    */


/* ===== START OF FOOTER ===== */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
}
  
.social {
    padding-left: 20px;
    font-size: 32px;
}
  
.social a {
    color: black;
}
  
.social a:hover {
    color: #fff;
}

.copyright {
    padding-right: 20px;
}
  
.FMCtext {
    color: black;
}
/* ===== END OF FOOTER ===== */